body 
{
    background-image: url('images/speed1.jpg');
    background-repeat: no-repeat;
    background-size: 100%; 
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.mainhead 
{
    text-align: center;
    color: rgb(212, 23, 23);
    font-size: 22px;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding-left: 0%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

li 
{
    float: left;
    border-right:1px solid #bbb;
}

li:last-child 
{
    border-right: none;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) 
{
    background-color: #111;
}

.active 
{
    background-color: rgb(211, 13, 13);
}

.navigation
{
    padding-top: 1%;
}

.contact
{
    color: red;
}

.chaldet
{
    padding-left: 35%;
    padding-top : 1%;
    font-size: 18px;
}

.dist, .date, .type
{
    padding-bottom: 0.2%;
    padding-top: 0.5%;
}

.duration
{
    padding-bottom: 0%;
}

.sdate, .edate
{
    padding-top: 0.5%;
    padding-bottom: 0.2%;
}

input[type=text], .type, input[type=number], input[type=date]
{
    align-self: center;
    width: 45%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: flex;
    border: none;
    background: #f1f1f1;
}


.subbutton
{
    padding-left: 46%;
}
.button 
{
    border-radius: 8px;
    background-color: #e60e0e;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 115px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border: 2px solid #e60e0e ;
}
  
.button span 
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after 
{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span 
{
    padding-right: 25px;
}
  
.button:hover span:after 
{
    opacity: 1;
    right: 0;
}

  /* Opacity for regbutton */
.registerbtn:hover 
{
    opacity: 1;
}
