body {
    background-color: rgba(91, 231, 91, 0.425);
}

.head {
    text-align: center;
    font-family: Verdana;
    font-style: italic;
    margin: 3%;
}

.unique {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.unique_val {
    margin-left: 15%;
    margin-right: 15%;
    font-family: Verdana;
}