<!DOCTYPE html>
<html>
    <head>
        <title>
            Friends
        </title>
        <link rel="stylesheet" type="text/css" href="friends_style.css">
    </head>

    <body>

        <!--background image-->
            <div class="bgimg">
                
                    <!-- The Heading of the home page -->
                    <div class="mainhead">
                        <h1>
                            Satisfy
                        </h1>
                    </div>
                    
                    <!--this is the navigation bar-->
                    <div class = "navigation">
                            <ul>
                                    <li><a href="home.html">Home</a></li>
                                    <li><a href="addrun.html">Add Run</a></li>
                                    <li><a href="cchallenge.html">Create Challenge</a></li>
                                    <li><a href="challlengelist.html">Challenge List</a></li>
                                    <li><a class="active" href="friends.html">Friends</a></li>
                                    <li><a href="#contact">History</a></li>
                                    <li style="float:right"><h3 class="contact">Contact: satisfy@gmail.com</h3></li>
                            </ul>
                    </div>
            </div>
    </body>
</html>
