<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
        <link rel="stylesheet" type="text/css" href="../static/home_style.css">
    </head>

    <body>
            <div class="bgimg">
                    <!-- The Heading of the home page -->
                    <div class="mainhead">
                        <h1>
                            Satisfy
                        </h1>
                    </div>
                    
                    <!--this is the navigation bar-->
                    <div class = "navigation">
                            <ul>
                                    <li><a class="active" href="home.html">Home</a></li>
                                    <li><a href="#news">Add Run</a></li>
                                    <li><a href="#contact">Create Challenge</a></li>
                                    <li><a href="#contact">Challenge Status</a></li>
                                    <li><a href="#contact">Add Friend</a></li>
                                    <li><a href="#contact">History</a></li>
                                    <li style="float:right">contact: satisfy@gmail.com</a></li>
                            </ul>
                    </div>
            </div>
    </body>
</html>
