<!DOCTYPE html>

<html>
    <head>
        <title>
            Satisfy
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main_style.css') }}">
    </head>

    <body>
        <div class="bgimg">
            <!-- The Heading of the main page -->
            <div class="mainhead">
                <h1>
                    Satisfy Yourself
                </h1>
            </div>

            <!-- The user login part -->
            <div class="maintask">

                <!-- The sign up option -->
                <div class="create">
                    <div class="signupbutton">    
                        <a href="{{ url_for('signup_page') }}">
                            <button title="Create free account">
                                Sign up
                            </button>
                        </a>
                    </div>    
                </div>

                <!-- The Login part -->
                <div class="startsession">
                    <div class="loginbutton">
                        <a href="main.html" title="Log in">
                            <button>
                                Log In
                            </button>
                        </a>
                    </div>

                    <div class="loginbutton">
                        User Name
                    </div>

                    <div class="loginbutton">
                        Password
                    </div>
                </div>
            </div>
            <div class="quote">
                <q>
                        Every runner knows this. You run and run, mile after mile, and you never quite know why. You tell yourself that you are running toward some goal, chasing some rush, but really you run because the alternative, stopping, scares you to death
                </q>
                -<i>Shoe Dog</i>, Phil Knight
            </div>
        </div>
    </body>
</html>