<!DOCTYPE html>

<html>
    <head>
        <title>
            Login Page
        </title>
        <link rel="stylesheet" type="text/css" href="main_style.css">
    </head>

    <body>
        <div class="bgimg">
            <!-- The Heading of the main page -->
            <div class="mainhead">
                <h1>
                    Satisfy
                </h1>
            </div>

            <div class="maintask">
               
                <!-- sign up part-->
                    <div class="create">
                            <div class="signupbutton">    
                
                                <a href="signup.html">
                                    <button class="button"><span>Sign-up</span></button>
                                </a>
                            </div>    
                    </div>
                
                <!--login part-->
                <form action="/action_page.php">
                    <div class="startsession">
                        <h1>Login</h1>
                        <hr>
                        <div class="create1">
                            <label for="email"><b>Email</b></label>
                            <input type="text" placeholder="Enter Email" name="email" required>
                        
                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" required>
                        </div>
                        <hr>

                            <div class="regbutton">    
                
                                <a href="signup.html">
                                    <button class="button">
                                        <span>
                                            Submit
                                        </span>
                                    </button>
                                </a>
                            </div>   
                    </div>
                </form>
            </div>
            
            <!--quote-->
            <div class="quote">
                <q>
                  <p><i>“Every runner knows this. You run and run, mile after mile, and you never quit know why. You tell yourself that you’re running toward some goal, chasing some rush, but really you run because the alternative, stopping, scares you to death”</i></p>
                </q>
                <p class="author">
                        - Phil Knight
                </p>

            </div>
        </div>
    </body>
</html>